<!-- Example row of columns -->


<div class="row well well-sm text-center">
    <div itemscope itemtype="http://schema.org/Product" class="col-md-6">

        <p> <img itemprop="image" class="resize_books" src="images/star.jpg"/></p>
    
        <h2 itemprop="name">Star Liner</h2>
                <div class="container">

        <p itemprop="description">The crew of the Webelos launch a mystery during spaceflight that is only solved when someone on the ship observes something completely unexplained - and the entertainer, Stot, questions his humanity when the secret is finally revealed.</p> <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">     <meta itemprop="priceCurrency" content="USD" />
        <p>
            <a  class="btn focus btn-default" href="https://www.smashwords.com/books/view/890195" role="button"> 
$<span itemprop="price">2.99</span>
                &raquo;</a>
        </p></div></div>
    </div>
    
    <div itemscope itemtype="http://schema.org/Product" class="col-md-6">

        <p> <img itemprop="image"  class="resize_books" src="images/bloodland.jpg"/></p>
    
        <h2 itemprop="name">Bloodland Tales</h2>
        <div class="container">
        <p itemprop="description">From M. J. Hewitt, a horror author who spreads the demise of his spirit in every bone-sucking chapter. His intense ruminations on dark spiritual forces contain the potion to convert us into the archons of hell.</p> <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">         <meta itemprop="priceCurrency" content="USD" />
        <p>
           <a   class="btn focus btn-default" href="https://www.smashwords.com/books/view/890154" role="button"> 
$<span itemprop="price">2.99</span>
                &raquo;</a>
        </p></div></div>
       
    </div></div>
    <div class="row well well-sm text-center">
    <div itemscope itemtype="http://schema.org/Product"  class="col-md-4">
        <p> <img itemprop="image" class="resize_books" src="images/cult.png"/></p>

        <h2 itemprop="name">The Cult</h2>
<p itemprop="description">A teenage boy ventures through a world devastated by a drug known as Chem 1 and eventually finds success he never expected.</p>        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">        <meta itemprop="priceCurrency" content="USD" /> <p>
            <a class="btn focus btn-default" href="https://www.smashwords.com/books/view/411410" role="button"> 
$<span itemprop="price">0.00</span>
                &raquo;</a>
        </p></div>
       
    </div>
        <div itemscope itemtype="http://schema.org/Product"  class="col-md-4">
        <p> <img itemprop="image"  class="resize_books" src="images/wiki.jpg"/></p>

        <h2  itemprop="name">Caesar Naples Wiki</h2>
        <p itemprop="description">Here is the latest example of Caesar Naples' writing. The imaginary staff at the Wiki have analyzed nearly every piece for your entertainment. Including The Cult novelette and close to 100 flash fiction entries. Don't forget to check out the art inside.</p>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">            <meta itemprop="priceCurrency" content="USD" /> <p>
               <a   class="btn focus btn-default" href="http://www.lulu.com/shop/caesar-naples/caesar-naples-wiki/ebook/product-23214871.html" role="button"> 
$<span itemprop="price">2.99</span>
                &raquo;</a></div>
        </p>
       
    </div>
        <div itemscope itemtype="http://schema.org/Product"  class="col-md-4">
        <p> <img  itemprop="image"  class="resize_books" src="images/wiki2.jpg"/></p>

        <h2 itemprop="name">Caesar Naples Wiki 2</h2>
        <p itemprop="description">From even further out there in the reaches of space comes celebrated author Caesar Naples, hidden from view. He's been found by Caesar Naples Wiki and his revealing stories about the nature of space and time are all here. Take some time to really get out of the norm with this flash fiction collection by author Caesar Naples
        </p> <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">            <meta itemprop="priceCurrency" content="USD" />
        <p>
               <a    class="btn focus btn-default" href="http://www.lulu.com/shop/caesar-naples/caesar-naples-wiki-2/ebook/product-23544307.html" role="button">     
$<span itemprop="price">0.00</span>
                &raquo;</a></div>
        </p>
       
    </div></div><div class="row well well-sm text-center">
        <div  itemscope itemtype="http://schema.org/Product"  class="col-md-6">
        <p> <img itemprop="image"  class="resize_books" src="images/smm.png"/></p>

        <h2 itemprop="name">Social Media Marketing Book</h2>
                <div class="container">

        <p  itemprop="description">Caesar Naples comes forward with his first entry into the Copypasta Publishing library. He offers sound tips that have stood the test of time for social media marketing campaigns. He also delves into the extra world of paranoia and delusion to make some bold claims about reality.</p>
        <p><div itemprop="offers" itemscope itemtype="http://schema.org/Offer"> 
                   <meta itemprop="priceCurrency" content="USD" />
            <a  class="btn focus btn-default" href="https://www.smashwords.com/books/view/755098" role="button">         
    $<span itemprop="price">0.00</span>
                &raquo;</a>
        </p></div></div>
       
    </div>
            <div itemscope itemtype="http://schema.org/Product" class="col-md-6">
        <p> <img itemprop="image"  class="resize_books" src="images/darkbat.jpg"/></p>

        <h2 itemprop="name">Dark Bat</h2>
                <div class="container">

        <p itemprop="description">A supernatural adventure that takes you across the farm and deep into the mind of a few resting Dark Bats.</p>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">       <meta itemprop="priceCurrency" content="USD" />  
        <p>
            <a class="btn focus btn-default" href="https://www.smashwords.com/books/view/754519" role="button">    $<span itemprop="price">0.00</span>
                &raquo;</a>
        </p></div></div>
       
    </div></div>

    <script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Book",
  "name" : "Bloodland Tales",
  "author": {
    "@type":"Person",
    "name":"M. J. Hewitt",
    "sameAs":"https://www.facebook.com/mattj.hewitt.98"
  },
  "url" : "https://www.smashwords.com/books/view/890154",
  "workExample" : {
    "@type": "Book",
    "@id":"https://www.caesarnapleswiki.org/authors/bloodlandtales",
    "isbn": "9780463153215",
    "bookEdition": "1st Edition",
    "bookFormat": "http://schema.org/EBook",
    "potentialAction":{
    "@type":"ReadAction",
    "target":
      {
        "@type":"EntryPoint",
        "urlTemplate":"https://www.smashwords.com/cart/add/890154",
        "actionPlatform":[
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/IOSPlatform",
          "http://schema.org/AndroidPlatform",
          "http://schema.org/MobileWebPlatform"


        ]
      },
      "expectsAcceptanceOf":{
        "@type":"Offer",
        "Price":2.99,
        "priceCurrency":"USD",
        "eligibleRegion" : {
          "@type":"Country",
          "name":"US"
        },
        "availability": "http://schema.org/InStock"
      }
    }
  }} </script>

      <script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Book",
  "name" : "Star Liner",
  "author": {
    "@type":"Person",
    "name":"Scott Branchfield",
    "sameAs":"https://www.caesarnapleswiki.org/authors/branchfield"
  },
  "url" : "https://www.smashwords.com/books/view/890195",
  "workExample" : {
    "@type": "Book",
    "@id":"https://www.caesarnapleswiki.org/authors/branchfield",
    "isbn": "9780463839331",
    "bookEdition": "1st Edition",
    "bookFormat": "http://schema.org/EBook",
    "potentialAction":{
    "@type":"ReadAction",
    "target":
      {
        "@type":"EntryPoint",
        "urlTemplate":"https://www.smashwords.com/cart/add/890195",
        "actionPlatform":[
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/IOSPlatform",
          "http://schema.org/AndroidPlatform",
          "http://schema.org/MobileWebPlatform"


        ]
      },
      "expectsAcceptanceOf":{
        "@type":"Offer",
        "Price":2.99,
        "priceCurrency":"USD",
        "eligibleRegion" : {
          "@type":"Country",
          "name":"US"
        },
        "availability": "http://schema.org/InStock"
      }
    }
  }} </script>

      <script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Book",
  "name" : "The Cult",
  "author": {
    "@type":"Person",
    "name":"Jordan Jones",
    "sameAs":"https://www.caesarnapleswiki.org/contact"
  },
  "url" : "https://www.smashwords.com/books/view/411410",
  "workExample" : {
    "@type": "Book",
    "@id":"http://cloud.copypastapublishing.com/babelli/the-cult.pdf",
    "isbn": "9781311994578",
    "bookEdition": "1st Edition",
    "bookFormat": "http://schema.org/EBook",
    "potentialAction":{
    "@type":"ReadAction",
    "target":
      {
        "@type":"EntryPoint",
        "urlTemplate":"https://www.smashwords.com/cart/add/411410",
        "actionPlatform":[
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/IOSPlatform",
          "http://schema.org/AndroidPlatform",
          "http://schema.org/MobileWebPlatform"


        ]
      },
      "expectsAcceptanceOf":{
        "@type":"Offer",
        "Price":0.00,
        "priceCurrency":"USD",
        "eligibleRegion" : {
          "@type":"Country",
          "name":"US"
        },
        "availability": "http://schema.org/InStock"
      }
    }
  }} </script>

      <script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Book",
  "name" : "Caesar Naples Wiki",
  "author": {
    "@type":"Person",
    "name":"Caesar Naples",
    "sameAs":"https://www.caesarnapleswiki.org/weblogs"
  },
  "url" : "https://books.google.com/books/about/Caesar_Naples_Wiki.html?id=PnNJDwAAQBAJ&printsec=frontcover#v=onepage&q&f=false",
  "workExample" : {
    "@type": "Book",
    "@id":"https://www.caesarnapleswiki.org",
    "isbn": "9781387019878",
    "bookEdition": "1st Edition",
    "bookFormat": "http://schema.org/Paperback",
    "potentialAction":{
    "@type":"ReadAction",
    "target":
      {
        "@type":"EntryPoint",
        "urlTemplate":"https://books.google.com/books?id=PnNJDwAAQBAJ&sitesec=buy&source=gbs_vpt_read",
        "actionPlatform":[
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/IOSPlatform",
          "http://schema.org/AndroidPlatform",
          "http://schema.org/MobileWebPlatform"


        ]
      },
      "expectsAcceptanceOf":{
        "@type":"Offer",
        "Price":16.99,
        "priceCurrency":"USD",
        "eligibleRegion" : {
          "@type":"Country",
          "name":"US"
        },
        "availability": "http://schema.org/InStock"
      }
    }
  }} </script>


      <script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Book",
  "name" : "Caesar Naples Wiki 2",
  "author": {
    "@type":"Person",
    "name":"Caesar Naples",
    "sameAs":"https://www.caesarnapleswiki.org/weblogs"
  },
  "url" : "http://www.lulu.com/shop/caesar-naples/caesar-naples-wiki-2/ebook/product-23544307.html",
  "workExample" : {
    "@type": "Book",
    "@id":"https://www.caesarnapleswiki.org/published",
    "isbn": "9781387632046",
    "bookEdition": "1st Edition",
    "bookFormat": "http://schema.org/EBook",
    "potentialAction":{
    "@type":"ReadAction",
    "target":
      {
        "@type":"EntryPoint",
        "urlTemplate":"http://jrdnjones.caesarnapleswiki.org/",
        "actionPlatform":[
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/IOSPlatform",
          "http://schema.org/AndroidPlatform",
          "http://schema.org/MobileWebPlatform"


        ]
      },
      "expectsAcceptanceOf":{
        "@type":"Offer",
        "Price":0.00,
        "priceCurrency":"USD",
        "eligibleRegion" : {
          "@type":"Country",
          "name":"US"
        },
        "availability": "http://schema.org/InStock"
      }
    }
  }} </script>

        <script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Book",
  "name" : "Social Media Marketing Book",
  "author": {
    "@type":"Person",
    "name":"Caesar Naples",
    "sameAs":"https://www.caesarnapleswiki.org/weblogs"
  },
  "url" : "https://www.smashwords.com/books/view/755098",
  "workExample" : {
    "@type": "Book",
    "@id":"https://www.goodreads.com/book/show/36527816-social-media-marketing-book",
    "isbn": "9781370298341",
    "bookEdition": "1st Edition",
    "bookFormat": "http://schema.org/EBook",
    "potentialAction":{
    "@type":"ReadAction",
    "target":
      {
        "@type":"EntryPoint",
        "urlTemplate":"https://www.smashwords.com/library/addBook/755098",
        "actionPlatform":[
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/IOSPlatform",
          "http://schema.org/AndroidPlatform",
          "http://schema.org/MobileWebPlatform"


        ]
      },
      "expectsAcceptanceOf":{
        "@type":"Offer",
        "Price":0.00,
        "priceCurrency":"USD",
        "eligibleRegion" : {
          "@type":"Country",
          "name":"US"
        },
        "availability": "http://schema.org/InStock"
      }
    }
  }} </script>


        <script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Book",
  "name" : "Dark Bat",
  "author": {
    "@type":"Person",
    "name":"Caesar Naples",
    "sameAs":"https://www.caesarnapleswiki.org/weblogs"
  },
  "url" : "https://www.smashwords.com/books/view/754519",
  "workExample" : {
    "@type": "Book",
    "@id":"https://www.goodreads.com/book/show/36527814-dark-bat",
    "isbn": "9781370419098",
    "bookEdition": "1st Edition",
    "bookFormat": "http://schema.org/EBook",
    "potentialAction":{
    "@type":"ReadAction",
    "target":
      {
        "@type":"EntryPoint",
        "urlTemplate":"https://www.smashwords.com/library/addBook/754519",
        "actionPlatform":[
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/IOSPlatform",
          "http://schema.org/AndroidPlatform",
          "http://schema.org/MobileWebPlatform"


        ]
      },
      "expectsAcceptanceOf":{
        "@type":"Offer",
        "Price":0.00,
        "priceCurrency":"USD",
        "eligibleRegion" : {
          "@type":"Country",
          "name":"US"
        },
        "availability": "http://schema.org/InStock"
      }
    }
  }} </script>