
    <div class="jumbotron">
        <div class="container" style="margin-top:30px;padding-bottom:30px;">

<h3>Titles</h3>
        <div class="btn-group" role="group" aria-label="Titles">
        

<a href="http://www.copypastapublishing.com/library/titles/a/">
<button type="button" class="btn btn-dark">A</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/b/">
<button type="button" class="btn btn-dark">B</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/c/">
<button type="button" class="btn btn-dark">C</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/d/">
<button type="button" class="btn btn-dark">D</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/e/">
<button type="button" class="btn btn-dark">E</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/f/">
<button type="button" class="btn btn-dark">F</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/g/">
<button type="button" class="btn btn-dark">G</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/h/">
<button type="button" class="btn btn-dark">H</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/i/">
<button type="button" class="btn btn-dark">I</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/j/">
<button type="button" class="btn btn-dark">J</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/k/">
<button type="button" class="btn btn-dark">K</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/l/">
<button type="button" class="btn btn-dark">L</button>
</a>


<a href="http://www.copypastapublishing.com/library/titles/m/">
<button type="button" class="btn btn-dark">M</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/n/">
<button type="button" class="btn btn-dark">N</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/o/">
<button type="button" class="btn btn-dark">O</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/p/">
<button type="button" class="btn btn-dark">P</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/q/">
<button type="button" class="btn btn-dark">Q</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/r/">
<button type="button" class="btn btn-dark">R</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/s/">
<button type="button" class="btn btn-dark">S</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/t/">
<button type="button" class="btn btn-dark">T</button>
</a>


<a href="http://www.copypastapublishing.com/library/titles/u/">
<button type="button" class="btn btn-dark">U</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/v/">
<button type="button" class="btn btn-dark">V</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/w/">
<button type="button" class="btn btn-dark">W</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/x/">
<button type="button" class="btn btn-dark">X</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/y/">
<button type="button" class="btn btn-dark">Y</button>
</a>

<a href="http://www.copypastapublishing.com/library/titles/z/">
<button type="button" class="btn btn-dark">Z</button>
</a>
		</div>
		
	<h3>Authors</h3>
        <div class="btn-group" role="group" aria-label="Authors">
        
   

<a href="http://www.copypastapublishing.com/library/authors/a/">
<button type="button" class="btn btn-dark">A</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/b/">
<button type="button" class="btn btn-dark">B</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/c/">
<button type="button" class="btn btn-dark">C</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/d/">
<button type="button" class="btn btn-dark">D</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/e/">
<button type="button" class="btn btn-dark">E</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/f/">
<button type="button" class="btn btn-dark">F</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/g/">
<button type="button" class="btn btn-dark">G</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/h/">
<button type="button" class="btn btn-dark">H</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/i/">
<button type="button" class="btn btn-dark">I</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/j/">
<button type="button" class="btn btn-dark">J</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/k/">
<button type="button" class="btn btn-dark">K</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/l/">
<button type="button" class="btn btn-dark">L</button>
</a>


<a href="http://www.copypastapublishing.com/library/authors/m/">
<button type="button" class="btn btn-dark">M</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/n/">
<button type="button" class="btn btn-dark">N</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/o/">
<button type="button" class="btn btn-dark">O</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/p/">
<button type="button" class="btn btn-dark">P</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/q/">
<button type="button" class="btn btn-dark">Q</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/r/">
<button type="button" class="btn btn-dark">R</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/s/">
<button type="button" class="btn btn-dark">S</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/t/">
<button type="button" class="btn btn-dark">T</button>
</a>


<a href="http://www.copypastapublishing.com/library/authors/u/">
<button type="button" class="btn btn-dark">U</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/v/">
<button type="button" class="btn btn-dark">V</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/w/">
<button type="button" class="btn btn-dark">W</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/x/">
<button type="button" class="btn btn-dark">X</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/y/">
<button type="button" class="btn btn-dark">Y</button>
</a>

<a href="http://www.copypastapublishing.com/library/authors/z/">
<button type="button" class="btn btn-dark">Z</button>
</a>
		</div>
		<br>


        </div>
    </div>
         
		
