<!-- Footer -->
<footer class="container-fluid" style="background-color: #6EB7D8; color:#def; ">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left nopadding">

      <!-- Grid row -->
      <div class="row nopadding">

        <!-- Grid column -->
        
        <!-- Grid column -->
            <div class="col-md-4">          <br><h5 class="text-uppercase"><b>Copypasta Publishing</b></h5>and<br><a href="https://www.caesarnapleswiki.org"><img class="resize_wiki" src="http://www.copypastapublishing.com/images/wiki.png" /></a><br>
      created by <a href="https://www.caesarnapleswiki.org/contact">Jordan Jones</a>
    </div>
 
        <!-- Grid column -->
        <div class="col-md-4">

            <!-- Links --><br>
            <h5 class="text-uppercase"><b>Links</b></h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://www.caesarnapleswiki.org">Caesar Naples Wiki</a><br><i>Social Media Website</i><br><br>
              </li>
              <li>
                <a href="https://duotrope.com/listing/24728">Duotrope Listing</a><br><i>Writer's Market</i>
              </li>
              </ul>

          </div>
          
          
          <div class="col-md-4">

            <!-- Links --><br>
            <h5 class="text-uppercase"><b>More Links</b></h5>

            <ul class="list-unstyled">
             <li>
                <a href="https://www.facebook.com/copypastapartners">Facebook</a><br><i>Social Media Marketing</i><br><br>
              </li>
              <li>
                <a href="https://www.smashwords.com/profile/view/caesarnaples">Smashwords</a><br><i>Indie Publishing</i>
              </li>
            
            </ul>

          </div></div>
          <!-- Grid column -->
<div class="row container-fluid">
     <div class="col-md-4 text-center">

          <!-- Content -->
          <p><a href="https://www.google.com/maps/place/Copypasta+Publishing/@34.0279393,-94.7369746,15z/data=!4m5!3m4!1s0x0:0x1c95b5864fa2b1da!8m2!3d34.0279393!4d-94.7369746">Broken Bow, Oklahoma</a></p><p><a href="tel:4059289705"><big>(405) 928-9705</big></a></p>


        </div>
                     <div class="col-md-4 text-center">

<a href="https://www.facebook.com/copypastapartners" class="fa fa-facebook"></a>
<a href="https://twitter.com/apforce" class="fa fa-twitter"></a>
<a href="https://plus.google.com/u/2/116513042032045541070" class="fa fa-google"></a>
<a href="https://www.linkedin.com/in/jordan-jones-031225141/" class="fa fa-linkedin"></a>
<a href="https://www.youtube.com/channel/UCqSPpZhT06VQeFHqduXqjug" class="fa fa-youtube"></a>
<a href="https://www.instagram.com/oaflopean/" class="fa fa-instagram"></a>

<a href="https://apforcear-blog.tumblr.com/" class="fa fa-tumblr"></a>
</div>
             <div class="col-md-4 text-center">

          <!-- Content -->
          <p ><a href="http://www.copypastapublishing.com/library/">Copypasta Library</a><i>(New)</i></p>
<p>Copyright 2018</p>
        </div>
      <!-- Grid row -->

    <!-- Footer Links -->

    <!-- Copyright -->

    <!-- Copyright -->
    </div>

  </footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='http://www.copypastapublishing.com/stylesheets/style.css' />

  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.copypastapublishing.com",
  "logo": "http://www.copypastapublishing.com/images/lowerlogo.png",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+1 405-928-9705",
    "contactType": "technical support"
  }]
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Jordan Jones",
  "url": "http://www.copypastapublishing.com",
  "sameAs": [
    "https://www.facebook.com/copypastapartners",
    "https://twitter.com/apforce",
    "https://apforcear-blog.tumblr.com/",
    "https://www.wattpad.com/user/oaflopean",
    "https://www.goodreads.com/user/show/5972654-caesar-naples-wiki",
    "https://www.instagram.com/oaflopean/",
    "https://plus.google.com/u/2/116513042032045541070",
    "https://www.linkedin.com/in/jordan-jones-031225141/",
    "https://www.youtube.com/channel/UCqSPpZhT06VQeFHqduXqjug"
  ]
}
</script>
  <!-- Footer -->
