<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Copypasta Publishing produces ebooks in computer generated formats and acquires creative science fiction novelettes. Indie publisher. Apps & Social Media Marketing.">
<meta name="keywords" content="<%=keyword.toString()%>">
<title><%= title %></title>
<link rel="shortcut icon" type="image/png" href="www.copypastapublishing.com/favicon.ico"/>
<link rel='stylesheet' href='stylesheets/blog.css' />
<link rel='stylesheet' href='stylesheets/jumbotron-narrow.css' />
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7939524861362774",
    enable_page_level_ads: true
  });
</script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118743023-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118743023-1');
</script>
<meta name="google-site-verification" content="_bnffIEEKQOBzeWW8IFbXPE_tIuKyUri5CbBu8ne_MY" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
